*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#main{

    width: 100vw;
    height: 100vh;
    display: flex;
  
    align-items: center;
    justify-content: center;
}
@keyframes change-img{
    0% {
        z-index: -1;
      }

      25% {
        z-index: -2;
      }
      50% {
        z-index: -3;
      }
      100% {
        z-index: -4;
      }
}

#decoration{
    
    height: 85vh;
    width: 400px;
    margin-right: 30px;
    text-align: center;
    position: relative;
}


.shorts {
    position: absolute;
    top: 35px;
    left: 147px;
    animation-name: imagefade;
    animation-iteration-count: infinite;
    animation-duration: 40s;
    z-index: -1;
  }
  
  @keyframes imagefade {
    0% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    50% {
      opacity:1;
    }
    100% {
      opacity:1;
    }
  }
  
  #decoration img:nth-of-type(5) {
    animation-delay: 10s;
  }
  #decoration img:nth-of-type(3) {
    animation-delay: 20s;
  }
  #decoration img:nth-of-type(4) {
    animation-delay: 30s;
  }
  #decoration img:nth-of-type(3) {
    animation-delay: 0s;
  }


#img1{
    position: absolute;
    top: 36px;
    left: 149px;
    z-index: 1;
    
}
#main_div{
    height: 85vh;
    width: 350px;
    margin-left: 30px;
    

}

.form_chaild{
  border: 0.1px solid rgba(0, 0, 0, 0.315);
  height: 100px;
}
#form{
 
  height: 401px;

}
#logo{
  
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  
  background-image: url("https://static.cdninstagram.com/rsrc.php/v3/y-/r/yXM3FgMdVNX.png");
    background-position: 0px -52px;
    background-size: auto;
    width: 175px;
    height: 51px;
    background-repeat: no-repeat;
    display: block;
}
#form input{
  padding-left: 10px;
  width: 80%;
  height: 33px;
  margin: auto;
  display: block;
  margin-bottom: 8px;
  border: 0.1px solid rgba(0, 0, 0, 0.253);
}
#form input[type = submit]{
  border: none;
  border-radius: 10px;
  background-color: #4bb4f8;
  color: aliceblue;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom:20px;
  
  
}
#divider{
  width: 70%;
  margin: auto;
  position: relative;
}
#divider hr{
    border: none;
    height: 1px;
    background: rgba(3, 3, 3, 0.308);

}
#divider span{
  position: absolute;
  top: -9px;
  left: 106px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.301);

}
.form_last a{
    text-decoration: none; 
    color: #385185;  
  }
.form_last{
margin-top: 30px;
margin-bottom: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  position: relative;
  
  
}
#formlast{
  margin-top: -10px;
}
.form_last span{
  position: relative;
  top: 3px;
  right: 5px;
  margin-top: 5px;
  padding: 2px; 
  width: 20px;
  height: 20px;
}
#form-bottam{
  margin-top: 20px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#form-bottam div a{
  text-decoration: none;
}
#bottam{
  margin-top: 5px;
  height: 94.5px;
  text-align: center;
  border: none;
}
#bottam div{
  margin-top: 10px;
  font-weight: 10;
}
#down-logo{
  display: flex;
  justify-content: center;
}
.down-logo-child{
  margin-left: 10px;
  margin-right: 10px;
  
}


@media screen and (max-width: 877px) {
  #decoration{
    display: none;
    margin-right: 30px;
  }
  #main_div{
    margin-left: 0px;
  }

}